.userContainer {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-top: 10rem;
    align-items: center;
}

.userInfo img {
    width: 10rem;
    border-radius: 50%;
}

.userContainer p {
    color: black;
}

.userContainer button {
    background-color: transparent;
}

.userContainer button:hover {
    text-decoration: underline;
}