.userContainer {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-top: 10rem;
    align-items: center;
}

.userInfo img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid black;
}

.userContainer p {
    color: black;
}

.userContainer button {
    background-color: transparent;
}

.userContainer button:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

@media only screen and (max-width: 767px) {
    .userContainer {
        width: 100vw;
        margin-top: 0rem;
    }
}