.fatherContainer {
    display: flex;
    flex-direction: row;
    color: white;
}

.messagesContainer {
    background-color: #C3E0E5;
    width: 54vw;
    display: flex;
    flex-direction: column;
}

#userSentImage {
    width: 70%;
}

#gcImage {
    width: 6%;
    margin-left: 1rem;
}

.chatInfoAndSettings {
    width: 16.5vw;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userInfo img {
    width: 20%;
}

.allUsersList {
    background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chatHeader {
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.editingWindow {
    background-color: blanchedalmond;
}

.userMessage {
    border: 3px solid black;
    width: 100%;
    gap: 0.75rem;
}

.userMessage P {
    color: black;
}

.userMessage button {
    align-self: flex-end;
}

.msgInfoInbound {
    display: flex;
    flex-direction: row;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.messageContentInbound {
    background-color: purple;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.msgInfoInbound p {
    margin-right: .75rem;
}

.msgInfoOutbound {
    display: flex;
    flex-direction: row;
    margin-left: 54%;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.msgInfoOutbound p {
    margin-left: .75rem;
}

.messageContentOutbound {
    background-color: pink;
    margin-left: 54%;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.messageAndImageContainerInbound {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.messageAndImageContainerOutbound {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.messageBubble {
    background-color: red;
    margin: 1rem;
}

.imageBubbleInbound {
    justify-content: flex-start;
    align-items: flex-start;
}

.imageBubbleInbound img {
    border: 2px solid black;
}

.imageBubbleOutbound {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imageBubbleOutbound img {
    border: 2px solid black;
}

.sendMessageContainer {
    border: 3px solid black;
    width: 100%;
    gap: 0.75rem;
}

.messageCard {
    width: 100%;
    height: 5rem;
    background-color: pink;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}





