.navbar {
    height: 100vh;
    width: 5vw;
    background-color: #EBE8E0;
    padding: 10px 20px;
  }
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }

  .chatContainer {
    background-color: #EBE8E0;
    height: 100vh;
    width: 29vw;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid black;
}

.chatContainer button {
  background-color: transparent;
}

.userProfiles {
  border-top: 1px solid black;
  margin-top: 1.5rem;
}

.userProfiles img {
  border-radius: 50%;
}

.menu {
  height: 8.1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  margin-right: 1px solid black;
}

.menu button {
  background-color: transparent;
  color: black;
  outline: none;
  border: none;
}

.menu button:hover {
  text-decoration: underline;
}

.messageCard {
  width: 100%;
  height: 5rem;
  background-color: #EBE8E0;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.messageCard p {
  font-size: 0.85rem;
}

.activeMessageCard {
  width: 100%;
  height: 5rem;
  background-color: #A8BBB0;
  color: black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.activeMessageCard p {
  font-size: 0.85rem;
}

.chatImage {
  width: 20%;
  justify-content: center;
  align-items: center;
}

.chatImage img {
   width: 80%;
   max-height: 80%;
   border-radius: 50%;
   margin-top: 10%;
}

.chatName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
  height: 100%;
}

.userNames {
  display: flex;
  flex-direction: row;
  height: 30%;
}

.chatName p {
  margin-left: 0.4rem;
}

.lastMsg {
  display: flex;
  align-items: flex-start;
  height: 30%;
}

.lastActiveContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
}

.lastActiveContainer p {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

#usersToAddListItems {
  list-style-type: none;
}

.userListLeft {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  margin-left: 3rem;
  margin-top: 1rem;
}

#userListLeftButtons {
  border: none;
  outline: none;
}

#userListLeftButtons:hover {
  text-decoration: underline;
}

.userListLeft p {
  color: black;
  margin-left: 0.5rem;
}

.userListLeft p:hover {
  text-decoration: underline;
}

.userListLeft img {
  width: 20%;
  max-height: 4rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .chatContainer {
    display: none;
  }


}

@media only screen and (max-width: 767px) {
  .chatContainer {
    display: none;
  }
}



