body {
    background-color: #EBE8E0;
}

.userProfileContainer {
    width: 71vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}

.userProfileContainer img {
    border-radius: 50%;
    width: 10rem;
    max-height: 10rem;
    border: 2px solid black;
}

.userProfileContainer button {
    background-color: transparent;
    border: none;
    outline: none;
}

.userProfileContainer button:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .userProfileContainer {
        width: 100vw;
        margin-bottom: 10rem;
    }
}

@media only screen and (max-width: 767px) {
    .userProfileContainer {
        width: 100vw;
        margin-bottom: 10rem;
    }
}